@tailwind base;
@tailwind components;
@tailwind utilities;
nav {
  background-color: black; /* Fond noir pour la barre de navigation */
}

a {
  position: relative;
  display: inline-block;
}

a:hover::after {
  transform: scaleX(1);
}

.neon-border-violet {
  box-shadow: 0px 0px 20px 5px rgba(138, 43, 226, 0.8);
}

.neon-border-bleu {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 255, 0.8);
}

.neon-border-vert {
  box-shadow: 0px 0px 20px 5px rgba(0, 255, 0, 0.8);
}

.neon-border-orange {
  box-shadow: 0px 0px 20px 5px rgba(255, 165, 0, 0.8);
}

.neon-border-jaune {
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 0, 0.8);
}

.neon-border-rouge {
  box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.8);
}

.neon-border-rose {
  box-shadow: 0px 0px 20px 5px rgba(255, 20, 147, 0.8);
}

.font-gamer {
  font-family: "Orbitron", sans-serif;
}
/* Personnaliser les variables CSS pour Emoji Picker en mode sombre */
.EmojiPickerReact.epr-dark-theme {
  --epr-emoji-size: 28px; /* Taille des emojis */
  --epr-emoji-gap: 6px; /* Espace entre les emojis */
  --epr-hover-bg-color: #5e5d5d; /* Couleur d’arrière-plan survolée */
  --epr-bg-color: #1e293b; /* Couleur d’arrière-plan du picker */
  --epr-category-label-bg-color: #1e293b; /* Fond du label de catégorie */
  --epr-text-color: #ffffff; /* Couleur du texte dans le picker */
  --epr-search-input-bg-color: #0f172a; /* Couleur de fond de l'entrée de recherche */
  --epr-search-input-text-color: #ffffff; /* Couleur du texte dans la barre de recherche */
}
